---
import { SITE } from "src/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { ArchiveList } from "@components/ArchiveList";
import getUniqueYears from "@utils/getUniqueYears";
import type { Frontmatter } from "src/types";

const posts = await Astro.glob<Frontmatter>("../../contents/{blog,notion}/**/*.md");

let yearGroup = getUniqueYears(posts);
---

<Layout title={`Archives | ${SITE.title}`}>
  <Header activeNav="archives" />
  <Main pageTitle="Archives" pageDesc="All the blogs archived by year.">
    <div>
      <ArchiveList archiveMap={yearGroup} />
    </div>
  </Main>
  <Footer />
</Layout>
