.main {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.profile {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: 1fr 1fr;
}

.headline {
  display: grid;
  grid-gap: 32px;
  align-items: center;
  grid-template-columns: 9rem 1fr;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  color: var(--color-text-base);
  padding: 0;
  margin: 0;
}

.subTitle {
  font-size: 2rem;
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.menu {
  display: grid;
  font-size: 1.125rem;
  grid-auto-flow: column;
  justify-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuItem div {
  opacity: 0;
  margin-left: 0.5rem;
}

.menuItem:hover div {
  opacity: 1;
}